:root {
    --text: #6b6375;
    --text-h: #08060d;
    --bg: #fff;
    --border: #e5e4e7;
    --code-bg: #f4f3ec;
    --accent: #aa3bff;
    --accent-bg: rgba(170, 59, 255, 0.1);
    --accent-border: rgba(170, 59, 255, 0.5);
    --social-bg: rgba(244, 243, 236, 0.5);
    --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;

    font: 18px/145% var(--sans);
    letter-spacing: 0.18px;
    color-scheme: light dark;
    color: var(--text);
    background: var(--bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #9ca3af;
        --text-h: #f3f4f6;
        --bg: #16171d;
        --border: #2e303a;
        --code-bg: #1f2028;
        --accent: #c084fc;
        --accent-bg: rgba(192, 132, 252, 0.15);
        --accent-border: rgba(192, 132, 252, 0.5);
        --social-bg: rgba(47, 48, 58, 0.5);
        --shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
    }

    #social .button-icon {
        filter: invert(1) brightness(2);
    }
}

#root {
    width: 1126px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

body {
    margin: 0;
    background-color: #fff3c2;
}

h1,
h2 {
    font-family: var(--heading);
    font-weight: 500;
    color: var(--text-h);
}

h1 {
    font-size: 56px;
    letter-spacing: -1.68px;
    margin: 32px 0;
    @media (max-width: 1024px) {
        font-size: 36px;
        margin: 20px 0;
    }
}

h2 {
    font-size: 24px;
    line-height: 118%;
    letter-spacing: -0.24px;
    margin: 0 0 8px;
    @media (max-width: 1024px) {
        font-size: 20px;
    }
}

p {
    margin: 0;
}

code,
.counter {
    font-family: var(--mono);
    display: inline-flex;
    border-radius: 4px;
    color: var(--text-h);
}

code {
    font-size: 15px;
    line-height: 135%;
    padding: 4px 8px;
    background: var(--code-bg);
}

.decision-wheel {
    width: 20vw;
    height: 40vh;
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
}

.cover {
    width: 20vw;
    height: 17vh;
    z-index: 50;
    position: absolute;
    top: 54%;
    right: 8%;
}

.title {
    width: 60vw;
    height: 25vh
}

.wheel-container {
    position: relative;
    width: 20vw;
    height: 40vh;
}

.selector {
    position: absolute;
    width: 10vw;
    height: 25vh;
    top: 0;
    left: 25%;
}

.pointer {
    position: absolute;
    width: 4.2vw;
    height: 19vh;
    top: 19%;
    left: 39.2%;
    z-index: 1100;
}

.result {
    font-weight: 700;
    font-size: 35px;
    font-family: "Gill Sans", sans-serif;
}

.action-buttons {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-game-view {
    font-family: "Georgia", serif;
    font-size: 45px;
    font-weight: 700;
    text-shadow: -2px 2px #004aad;
    color: #558abb;
    display: flex;
    align-items: center;
    width: 80vw;
    justify-content: space-between;
}

.dialog-title {
    color: #665312;
}

.category-dialog .MuiPaper-root{
    background-color: #d1c697;
}

.dialog-button {
    color: #665312 !important;
}

.category-text {
    width: 25vw;
    height: 40vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* iPhone */
@media (orientation: portrait) {
    .main-game-view {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        width: 100vw;
        font-size: 32px;
        height: 50vh;
        text-shadow: -0.8px 1px #004aad;
    }

    .wheel-container {
        width: 40vw;
        height: 40vw;
    }

    .decision-wheel {
        width: 40vw;
        height: 40vw;
    }

    .cover {
        width: 40vw;
        height: auto;
        top: 55%;
        transform: translateX(50%);
    }

    .selector {
        width: 15vw;
        height: 14vh;
        left: 33%;
        top: 0;
        transform: translateX(-50%);
    }

    .pointer {
        width: 8vw;
        height: 12vh;
        left: 42%;
        top: 12%;
        touch-action: none;
        transform: translateX(-50%);
    }

    .category-text {
        width: 15vw;
        height: auto;
        min-height: 120px;
        font-size: 0.6rem;
    }

    .title {
        width: 80vw;
        height: 15vh;
    }
}
